<table class="w-full" *blockUI="'table-items-cart'">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for (cartItem of cartItems; track $index) {
        <tr>
            <td class="text-center">
                <img *ngIf="cartItem.UrlImage" class="pre-image m-auto" src="{{cartItem.UrlImage}}"
                    alt="Imagen del producto">
                <div *ngIf="!cartItem.UrlImage" class="pre-image m-auto border-2 border-white bg-gray-200"></div>
            </td>
            <td class="text-center">
                <p>{{cartItem.ProductName}}</p>
            </td>
            <td class="text-center">
                <p>{{cartItem.Price | currency: "$"}}</p>
            </td>
            <td class="text-center">
                <div class="flex-center gap-4">
                    @if(cartItem.Quantity > 1){

                    <button class="flex-center pagination-button" (click)="decrement(cartItem.Id)"
                        [disabled]="cartItem.Quantity === 1">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                    }
                    <p>{{cartItem.Quantity}}</p>
                    <button class="flex-center ml-2 pagination-button" (click)="increment(cartItem.Id)">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <i (click)="removeCartItem(cartItem.Id)"
                        class="fa-solid fa-trash text-primary-400 cursor-pointer"></i>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>