<block-ui>
    <app-lsidebar>
        <nav class="nav-mobile flex-column">
            <ul class="ul-nav-mobile w-full">
                @for (menu of menues; track $index) {
                <li>
                    <!-- <i [ngClass]="menu.Icon" class="text-primary"></i> -->
                    <a [href]="menu.Href">{{menu.Name}}</a>
                </li>
                }
            </ul>
        </nav>
    </app-lsidebar>

    <app-modal title="Busqueda">
        <app-search-modal />
    </app-modal>


    <header class="header-container flex-between">

        <i *ngIf="isMobile" class='fa-solid fa-bars text-primary-400' (click)="openMobileMenu()"></i>
        <div class="flex-between gap-8">
            <h3>Herencia</h3>

            <nav *ngIf="!isMobile">
                <ul class="ul-nav" *ngIf="menues && menues.length > 0">
                    <!-- Agregar al hacer click en los menues derivar al href y cerrar el sidebar -->
                    @for (menu of menues; track $index) {
                    <li class="flex-center">
                        <!-- <i [ngClass]="menu.Icon" class="text-primary"></i> -->
                        <a [href]="menu.Href">{{menu.Name}}</a>
                    </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="flex-between gap-8">
            <div class="relative">
                <i class="fa-solid fa-cart-shopping icon" (click)="toggleDropdownCart()"></i>

                <!-- Badge con cantidad -->
                <div *ngIf="quantityItems > 0"
                    class="absolute -top-[0.75rem] -right-[0.75rem] min-w-[20px] h-[20px] text-xs rounded-full flex items-center justify-center border border-primary text-primary bg-white shadow-sm">
                    {{ quantityItems }}
                </div>

                <app-cart-dropdown [isOpen]="isOpenDropdownCart" [isLoggin]="isLoggin"
                    (quantityItems)="setQuantityItems($event)" />
            </div>
            <div class="relative">
                <i class="fa-regular fa-user icon" (click)="toggleDropdownUser()"></i>
                <app-user-dropdown [isOpen]="isOpenDropdownUser" [isLoggin]="isLoggin" [role]="role"
                    [userName]="userName" />

            </div>
            <i class="fa-solid fa-magnifying-glass icon" (click)="openModal()"></i>
        </div>


    </header>

</block-ui>