@if(!loading){
<div
    class="flex flex-col gap-4 bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl w-full cursor-pointer">
    <img src="../../../assets/ImgHero.jpeg" alt="imagen de la tarjeta" class="w-full h-48 object-cover">
    <div class="p-4">
        <p class="text-lg font-semibold text-gray-800 truncate capitalize">{{title}}</p>
        <p *ngIf="subtitle" class="text-sm text-gray-500 mt-1 capitalize">{{subtitle}}</p>
    </div>
    <p *ngIf="price" class="text-lg font-bold text-slate-600 p-4">{{price | currency: "$"}}</p>
    <!-- Armar un currency particular para pesos argentinos -->
</div>
}
@else{
<div class="flex flex-col gap-4 bg-white shadow-lg rounded-lg overflow-hidden animate-pulse">
    <div class="w-full h-48 bg-gray-200"></div>
    <div class="p-4">
        <div class="h-6 bg-gray-200 rounded w-3/4 mb-2"></div>
        <div class="h-4 bg-gray-200 rounded w-1/2"></div>
    </div>
    <div class="h-6 bg-gray-200 rounded w-1/4 p-4"></div>
</div>
}