<app-discount-coupon class="w-full" (discountEmit)="applyDiscount($event)" />
<div class="w-full flex items-center justify-between">
    <p>Subtotal:</p>
    <p>{{subtotal | currency: "$"}}</p>
</div>
<div class="w-full flex items-center justify-between">
    <p>Costo de envio:</p>
    <p>{{shippingCost ? (shippingCost | currency: "$") : "A confirmar"}}</p>
</div>
<div class="w-full flex items-center justify-between">
    <p>Descuento:</p>
    <div class="flex gap-2 items-center justify-center">
        <p>{{discount | currency: "$"}} ({{discountPercentage}}%)</p>
        @if(discount){
        <i class="fa-solid fa-square-minus cursor-pointer" (click)="removeDiscount()"></i>
        }
    </div>
</div>
<app-divider />
<div class="w-full flex items-center justify-between">
    <strong>Total:</strong>
    <strong>{{total | currency: "$"}}</strong>
</div>
<button class="black-button w-full" (click)="proceedToPayment()">Proceder al pago</button>