<main class="container-gral container-grid-fit gap-2 w-full">
    <div class="flex-end-col gap-4 w-[70%]">
        <h3 class="title">Envianos tus consultas y sugerencias</h3>
        <!-- <div class="w-full"><app-input-text placeholder="Nombre" /></div>
        <div class="w-full"><app-input-text placeholder="Apellido" /></div>
        <div class="w-full"><app-input-text placeholder="E-mail" /></div>
        <div class="w-full"><app-input-text placeholder="Teléfono" /></div>
        <div class="w-full"><app-input-text placeholder="Mensaje" /></div> -->

        <button class="primary-button">Enviar</button>
    </div>
    <div>
        <h3 class="title">Datos de contacto</h3>
    </div>
</main>