<main class="container-gral container-grid-fit gap-2">
    <div class="flex flex-col items-start justify-between gap-4 mb-8 md:mb-0">
        <h1 class="text-4xl font-bold text-primary-400 md:text-6xl">
            HERENCIA <span class="block text-slate-800">Tienda de Bebé</span>
        </h1>
        <p class="text-slate-600 w-3/4">
            En HERENCIA, creamos ropa de bebé de alta calidad, sostenible y llena de ternura.
            Nuestras prendas están diseñadas para acompañar a tu bebé en cada etapa de su crecimiento.
        </p>
        <div class="flex flex-col gap-4">
            @for (item of items; track $index) {
            <div class="flex-start gap-2">
                <i [ngClass]="item.Icon" class="text-primary-300 text-xl w-[25px]"></i>
                <p>{{item.Name}}</p>
            </div>
            }
        </div>
        <div class="w-full md:w-1/2" (click)="goToProducts()">
            <button class="primary-button">Descrubí nuestra coleccion</button>
        </div>
    </div>
    <div class="flex-end">
        <img src="../../../assets/ImgHero.jpeg" alt="Imagen de portada" class="image-hero">
    </div>
</main>
<app-divider />
<app-container-cards-home [data]="categories" [isLoading]="loadingCategories" (clickCard)="searchByCategory($event)"
    (changeLimit)="changeLimitCategories($event)" [isProduct]="false" />
<app-divider />
<app-container-cards-home [data]="promotionalProducts" [isLoading]="loadingProducts" (clickCard)="seeProduct($event)"
    (changeLimit)="changeLimitProducts($event)" />