<div
    class="flex flex-col gap-4 bg-primary-50 shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl w-full cursor-pointer">
    <img src="../../../assets/ImgHero.jpeg" alt="imagen de la tarjeta" class="w-full h-48 object-cover">
    <div class="p-4">
        <p class="text-lg font-semibold text-gray-800 truncate capitalize">{{title}}</p>
        <p *ngIf="subtitle" class="text-sm text-gray-500 mt-1 capitalize">{{subtitle}}</p>
    </div>
    <div class="flex flex-col justify-center">
        <p *ngIf="price" class="text-lg font-bold text-slate-600 p-4"
            [ngClass]="{'crossed-out py-0 text-sm': promotionalPrice}">
            {{price
            | currency: "$"}}</p>
        <p *ngIf="promotionalPrice" class="text-lg font-bold text-slate-600 px-4">{{promotionalPrice
            | currency: "$"}}</p>
    </div>
    <!-- Armar un currency particular para pesos argentinos -->
</div>