<section class="container-gral px-4 w-full overflow-x-hidden" *blockUI="'main'">
    <div class="flex flex-col-reverse md:flex-row justify-between items-start gap-6 w-full">
        <div class="container-cart-cards flex flex-col w-full md:w-[70%] overflow-x-auto" *blockUI="'items-cart'">
            <app-table-items-cart [cartItems]="cartItems" class="w-full" />
        </div>

        <div class="container-cart-cards flex flex-col w-full md:w-[30%]">
            <app-cart-summary [cartItems]="cartItems" [cartId]="cartId" class="w-full" />
        </div>
    </div>
</section>