<div class="flex-start-col w-full">
    <p class="text-center w-full">¿Tienes un cupón de descuento?</p>
    <div class="flex-center-col gap-2 w-full">
        <input class="input-text" type="text" placeholder="Ingresa tu cupón" [(ngModel)]="couponName" />
        <button [ngClass]="!couponName || loading ? 'black-button-disabled' : 'black-button'"
            [disabled]="couponName === '' || loading" (click)="addCoupon()">{{loading ? 'Agregando cupon...' : "Agregar
            cupón"}}</button>
    </div>
</div>