/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;

  /* font-size: 14px; */
}

/* Define las pseudoclases con CSS nativo */
*::-webkit-scrollbar {
  width: 8px; /* Ajusta el ancho del scrollbar si es necesario */
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary-200 rounded;
}

body {
  scroll-behavior: smooth;

  @apply bg-white;
}

:root {
  --header-height: 65px;
}

/*  Estilos compartidos */
/* Icons */

.icon-close {
  @apply absolute top-2 right-6 text-primary-600 cursor-pointer;
}

/* Containers */

.container-gral {
  @apply w-full py-8  px-12 md:px-24;
  margin-top: var(--header-height);
}

.container-grid-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: var(--header-height);
}

.container-grid-fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* Buttons */
.primary-button {
  @apply w-full bg-primary-500 hover:bg-primary-600 duration-300 text-white text-center p-2 rounded-md;
}

.primary-button-disabled {
  @apply w-full bg-slate-300 text-slate-500 text-center p-2 rounded-md hover:bg-slate-300 cursor-not-allowed;
}

.secondary-button {
  @apply w-full border-2 border-primary-500 bg-white text-slate-900 hover:bg-primary-100 duration-300 text-center py-2 rounded-md;
}

.secondary-button-disabled {
  @apply w-full border-2 border-slate-300 bg-slate-100 text-slate-400 hover:bg-slate-100 text-center py-2 rounded-md cursor-not-allowed;
}

.tertiary-button {
  @apply w-full bg-white text-slate-900 hover:bg-primary-100 duration-300 text-center py-2 rounded-md;
}

.tertiary-button-disabled {
  @apply w-full text-slate-400 text-center py-2 rounded-md cursor-not-allowed;
}

.pagination-button {
  @apply py-2 px-4 w-[40px] bg-primary-50 rounded-full cursor-pointer hover:bg-primary-200 duration-300;
}

/* Text */

.title {
  @apply self-start text-3xl font-bold text-slate-800 my-4;
}

/* Estilos flex */

.flex-column {
  @apply flex flex-col;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-center-wrap {
  @apply flex justify-center items-center flex-wrap;
}

.flex-between-wrap {
  @apply flex justify-between items-center flex-wrap;
}

.flex-start-wrap {
  @apply flex justify-start items-center flex-wrap;
}

.flex-center-col {
  @apply flex justify-center items-center flex-col;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-between-col {
  @apply flex justify-between items-center flex-col;
}

.flex-start {
  @apply flex justify-start items-center;
}

.flex-start-col {
  @apply flex justify-center items-start flex-col;
}

.flex-all-start-col {
  @apply flex justify-start items-start flex-col;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-end-col {
  @apply flex justify-end items-center flex-col;
}
