/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;

  /* font-size: 14px; */
}

/* Define las pseudoclases con CSS nativo */
*::-webkit-scrollbar {
  width: 8px; /* Ajusta el ancho del scrollbar si es necesario */
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary-200 rounded;
}

body {
  scroll-behavior: smooth;

  @apply bg-white;
}

:root {
  --header-height: 65px;
  --footer-height: 290px;
}

/*  Estilos compartidos */
/* Icons */

.icon-close {
  @apply absolute top-2 right-6 text-primary-600 cursor-pointer;
}

/* Containers */

.container-app {
  display: grid;
  min-height: 100vh;
  grid-template-rows: var(--header-height) 1fr auto;
}

.container-gral {
  @apply w-full py-8  px-12 md:px-24;
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.container-grid-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: var(--header-height);
}

.container-grid-fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* Buttons */
.primary-button {
  @apply w-full bg-primary-500 hover:bg-primary-600 duration-300 text-white text-center p-2 rounded-md;
}

.primary-button-disabled {
  @apply w-full bg-slate-300 text-slate-500 text-center p-2 rounded-md hover:bg-slate-300 cursor-not-allowed;
}

.secondary-button {
  @apply w-full border-2 border-primary-500 bg-white text-slate-900 hover:bg-primary-100 duration-300 text-center py-2 rounded-md;
}

.secondary-button-disabled {
  @apply w-full border-2 border-slate-300 bg-slate-100 text-slate-400 hover:bg-slate-100 text-center py-2 rounded-md cursor-not-allowed;
}

.tertiary-button {
  @apply w-full bg-white border-primary-300 text-slate-900 hover:bg-primary-100 duration-300 text-center py-2 rounded-md;
}

.tertiary-button-disabled {
  @apply w-full text-slate-400 text-center py-2 rounded-md cursor-not-allowed;
}

.black-button {
  @apply w-full bg-slate-800 hover:bg-slate-900 duration-300 text-white text-center p-2 rounded-md;
}

.black-button-disabled {
  @apply w-full bg-slate-300 text-slate-500 text-center p-2 rounded-md hover:bg-slate-300 cursor-not-allowed;
}

.pagination-button {
  @apply py-2 px-4 w-[40px] bg-primary-50 rounded-full cursor-pointer hover:bg-primary-200 duration-300;
}

.pagination-button-disabled {
  @apply w-full text-slate-100 text-center py-2 rounded-md cursor-not-allowed;
}

.remove-button {
  @apply relative bg-primary-500 text-white rounded-full w-6 h-6 flex items-center justify-center hover:bg-primary-600;
}

/* Text */

.title {
  @apply self-start text-3xl font-bold text-slate-800 my-4;
}

.error-message {
  @apply text-sm text-red-500;
}

.crossed-out {
  @apply text-slate-400 line-through;
}

/* Estilos flex */

.flex-column {
  @apply flex flex-col;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-center-wrap {
  @apply flex justify-center items-center flex-wrap;
}

.flex-between-wrap {
  @apply flex justify-between items-center flex-wrap;
}

.flex-start-wrap {
  @apply flex justify-start items-center flex-wrap;
}

.flex-center-col {
  @apply flex justify-center items-center flex-col;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-between-col {
  @apply flex justify-between items-center flex-col;
}

.flex-between-col-reverse {
  @apply flex justify-between items-center flex-col-reverse;
}

.flex-start {
  @apply flex justify-start items-center;
}

.flex-start-col {
  @apply flex justify-center items-start flex-col;
}

.flex-all-start-col {
  @apply flex justify-start items-start flex-col;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-end-col {
  @apply flex justify-end items-center flex-col;
}

/* Inputs */
.input-text {
  @apply rounded-md py-1 px-2 w-full border border-slate-300 text-slate-700 bg-white;
}

.input-text::placeholder {
  @apply text-slate-400 text-sm;
}

.input-text::focus {
  @apply outline-none border border-primary-400;
}

/* Bordes */

.border-full {
  @apply border border-primary-400;
}

/* Dropdown */
.openDropdown {
  @apply absolute right-0 top-8 w-80;
}

.container-dropdown {
  @apply border border-gray-200 bg-primary-50 rounded-lg shadow-lg p-2 text-sm text-gray-700;
}

.dropdown-row {
  @apply hover:bg-primary-100 p-2 rounded-md cursor-pointer flex;
}

.panel-selected {
  @apply bg-primary-200;
}

.dropdown-row-value {
  @apply block px-4 py-2 whitespace-nowrap text-primary-600;
}

/* Status */

.active {
  @apply text-green-500 bg-green-200 px-2 py-1 rounded-md text-center;
}

.inactive {
  @apply text-red-500 bg-red-200 px-2 py-1 rounded-md text-center;
}

.pending {
  @apply text-pink-500 bg-pink-200 px-2 py-1 rounded-md text-center;
}

.preparation {
  @apply text-orange-500 bg-orange-200 px-2 py-1 rounded-md text-center;
}

.prepared {
  @apply text-yellow-500 bg-yellow-200 px-2 py-1 rounded-md text-center;
}

.delivered {
  @apply text-green-500 bg-green-200 px-2 py-1 rounded-md text-center;
}

.canceled {
  @apply text-red-500 bg-red-200 px-2 py-1 rounded-md text-center;
}

/* Images */

.pre-image {
  @apply w-20 h-20;
}

.not-image {
  @apply w-20 h-20 border-2 border-dashed border-gray-300 bg-gray-100 rounded-lg flex items-center justify-center text-gray-500 text-center;
}

.image {
  @apply w-20 h-20 object-cover rounded-lg shadow-md;
}

/* Modals */
.container-modal {
  @apply w-[80%] md:w-[30%] bg-primary-50 fixed left-[50%] right-[50%] translate-x-[-50%] translate-y-[-50%] duration-300 shadow-2xl z-30  items-center justify-start py-8 px-2;
}

.title-modal {
  @apply font-bold text-black self-start mb-8;
}

/* Form */
.custom-form {
  @apply flex flex-col lg:flex-row items-center lg:items-start gap-6 w-full max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-xl;
}

.container-images-form {
  @apply w-full lg:w-1/3 flex flex-col items-center gap-4;
}

.images-form {
  @apply w-full flex-col gap-2 items-center justify-center;
}

.container-form {
  @apply w-full lg:w-2/3 flex flex-col gap-4;
}

.container-input {
  @apply flex flex-col gap-2;
}

.label-form {
  @apply text-sm font-medium text-gray-700;
}

.icon-input-form {
  @apply absolute inset-y-0 left-0 flex items-center pl-3 text-gray-500;
}

.input-form {
  @apply pl-10 pr-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-300 w-full;
}

.input-form-error {
  @apply pl-10 pr-4 py-2 border border-red-300 rounded-lg shadow-sm transition duration-300 w-full;
}

.checkbox-form {
  @apply w-5 h-5 text-blue-500 rounded focus:ring-blue-500;
}

.select-form {
  @apply w-full border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-300 pl-10;
}

/* Table */

.container-table {
  @apply p-4 bg-white shadow-lg rounded-lg;
}

.custom-table {
  @apply w-full border-collapse border border-primary-200 overflow-auto;
}

.custom-table thead tr {
  @apply bg-primary-100 text-primary-700 uppercase text-sm font-semibold;
}

.custom-table thead tr th {
  @apply px-4 py-3 text-left border-b;
}

.custom-table tbody tr {
  @apply border-b transition-all hover:bg-primary-50;
}

.custom-table tbody tr td {
  @apply px-4 py-4 text-primary-400;
}
