<div [ngClass]="isOpen ? 'openDropdown' : 'hidden'" class="z-10">
    <ul class="container-dropdown">
        @if(isLoggin){
        <div class="flex-between">
            <p>IMG PROD</p>
            <p>x1</p>
        </div>
        <app-divider />
        <button class="primary-button">Ver mi Carrito</button>
        } @else {
        <div class="text-center">
            <p class="mb-2">¡Hola! Para poder ver o agregar productos a tu carrito, inicia sesión.</p>
            <button class="primary-button">Iniciar sesión</button>
            <p class="mt-2 text-gray-500">¿No tienes cuenta? <a href="/register" class="text-blue-500">Regístrate
                    aquí</a></p>
        </div>
        }
    </ul>
</div>