<div class="container-gral">
    <h3 class="title">Panel de control</h3>
    <div class="container-control-panel relative">
        <i class='fa-solid fa-bars text-primary-400 md:hidden absolute top-2'></i>
        <div class="options-panel border-full">
            <ul class="flex flex-col gap-4">
                @for (menu of menues; track $index) {
                <li class="dropdown-row" (click)="selectPanel(menu.Href)">
                    <a><i class="fa-regular fa-circle-user mr-2"></i> {{menu.Name}}</a>
                </li>
                }
            </ul>
        </div>
        <div class="info-panel border-full">
            <div class="panel" *ngIf="panelSelected === '#Products'">
                Aca van los Products
            </div>
            <div class="panel" *ngIf="panelSelected === '#Stock'">
                Aca van los Stock
            </div>
            <div class="panel" *ngIf="panelSelected === '#Sales'">
                Aca van los Sales
            </div>
            <div class="panel" *ngIf="panelSelected === '#Categories'">
                Aca van los Categories
            </div>
            <div class="panel" *ngIf="panelSelected === '#Sizes'">
                Aca van los Sizes
            </div>
            <div class="panel" *ngIf="panelSelected === '#PriceList'">
                Aca van los PriceList
            </div>
            <div class="panel" *ngIf="panelSelected === '#Config'">
                Aca van los Config
            </div>
            <div class="panel" *ngIf="panelSelected === '#Dash'">
                Aca van los Dash
            </div>
        </div>
    </div>
</div>